*{
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home {
    padding: 20px;
    height: 120vh;
    display: flex;
    flex-direction: column ;
    background-color: #1F2937;
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo-name {
    display: flex;
    align-items: center;
    /* border: 3px solid beige; */
    gap: 30px ;
    justify-content: space-around;
}
.logo {
    width: 80px;
}

.page {
    font-size: 30px;
    font-weight: 700;
}

ul {
    display: flex;
    gap: 24px;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.intro {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.hero-text {
    font-weight: 700;
    font-size: 30px;
}

.join-button {
    border: none;
    color: white;
    width: 80px;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #3882f6;
}

.hero-secondary-text{
    color: #bebec0;
}

.promo{
    padding: 100px;
}

.travel-image{
    width: 500px;
    border-radius: 30px;
}

.top-picks{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    gap: 40px;
    background-color: antiquewhite;
}

.heading-top-picks{
    padding: 10px;
    font-weight: 700;
    font-size: 30px;
}

.destinations {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 50px;
}

.places {
    width: 150px;
    height: 150px;
    border-radius: 24px;
}

.picks {
    display: flex;
    flex: 1 2 3;
    flex-direction: column;
    align-items: center;
}

.location-names {
    padding: 10px;
    font-size: 18px;
    font-weight: 550;
}

.quote{
    display: flex;
    height: 20vh;
    padding: 40px;
    background-color: #e5e7eb;
}

.quote-text {
    font-weight: 100;
    font-size: 36px;
    font-style: italic;
}

.author {
    font-style: normal;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.explore-code {
    display: flex;
    height: 18vh;
    align-items: center;
    justify-content: center;
    margin: 30px;
    color: white;
    background-color: #3882f6;
    gap: 50px;
    border-radius: 10px;
}

.explore-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.explore-main {
    font-weight: 600;
    display: flex;
    gap: 12px;
    font-size: 23px;
}

.explore-sub-text {
    color: rgba(255, 255, 255, 0.899);
}

.explore-button {
    width: 120px;
    border: 2px solid white;    
    border-radius: 10px;
    background-color: #3882f6;
    color: white;
    height: 40px;
}

.explore {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.github-icon {
    width: 30px;
}

.footer {
    height: 10vh;
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    color: white;
}